<div class="mx-auto flex text-black flex-col items-center justify-center bg-gray-100 w-full max-w-xs mt-50 p-5 rounded">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "example@example.com", autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3" %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"shadow appearance-none border rounded w-full py-2 px-3" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions mt-4">
      <%= f.submit "Log in", class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded " %>
    </div>
  <% end %>
</div>