<nav class="hidden md:block bg-amber-600 w-50 rounded-lg pt-30 text-black">
  <ul class="flex flex-col items-center flex gap-100">
    <div class="flex flex-col gap-4">
      <li><%= link_to "All events", root_path, class:"w-40 bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
      <% if user_signed_in? %>
        <li><%= link_to "Create event", user_path(current_user), class:"w-40 bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
        <li><%= link_to "Your events", user_path(current_user), class:"w-40 bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
      <% end %>
    </div>
    <div class="flex flex-col gap-4">
      <% unless user_signed_in? %>
        <li><%= link_to "Log in", new_user_session_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
        <li><%= link_to "Sign up", new_user_registration_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
      <% else %>
        <%= button_to "Sign_out", destroy_user_session_path, method: :delete, data: {turbo: "false"}, class:"px-4 py-2 bg-red-500 text-white text-bold rounded-lg hover:bg-red-700cursor-pointer" %>
      <% end %>
    </div>
  </ul>
</nav>