<nav class="hidden md:block bg-amber-600 w-50 fixed top-0 h-full overflow-hidden pt-30 text-black">
  <ul class="flex flex-col items-center flex gap-100">
    <div class="flex flex-col gap-4">
      <li class="text-white bg-blue-700 px-4 py-2 rounded-lg hover:scale-105"><%= link_to "All events", root_path %></li>
      <% if user_signed_in? %>
        <li class="text-white bg-blue-700 px-4 py-2 rounded-lg hover:scale-105"><%= link_to "Create event", new_event_path %></li>
        <li class="text-white bg-blue-700 px-4 py-2 rounded-lg hover:scale-105"><%= link_to "My events", user_path(current_user) %></li>
      <% end %>
    </div>
    <div class="flex flex-col gap-4">
      <% unless user_signed_in? %>
        <li><%= link_to "Log in", new_user_session_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:scale-105"%></li>
        <li><%= link_to "Sign up", new_user_registration_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:scale-105"%></li>
      <% else %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {turbo: "false"}, class:"px-4 py-2 bg-red-500 text-white text-bold rounded-lg hover:scale-105 cursor-pointer" %>
      <% end %>
    </div>
  </ul>
</nav>