<nav class="hidden md:block bg-amber-600 w-40 rounded-lg pt-30">
  <ul class="flex flex-col items-center flex gap-8">
    <li><%= link_to "All events", root_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
    <li><%= link_to "Create event", root_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
    <li><%= link_to "Your events", root_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500 "%></li>
    <li><%= link_to "Sign in", new_user_session_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
    <li><%= link_to "Login in", new_user_registration_path, class:"bg-amber-300 px-4 py-2 rounded-lg hover:bg-sky-500"%></li>
  </ul>
</nav>